{% extends "base.html" %}

{% block content %}
    <h1>Neues Event erstellen</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.event_type.label }}<br>{{ form.event_type() }}</p>
        <p>{{ form.location_type.label }}<br>{{ form.location_type() }}</p>
        <p>{{ form.date.label }}<br>{{ form.date() }}</p>
        <p>{{ form.time.label }}<br>{{ form.time() }}</p>
        <p>{{ form.description.label }}<br>{{ form.description(cols=50, rows=10) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
